body {
    background: #FFFFFF;
}

#back_nav {
    background-color: #df3732;
    width: 100%;
    height: 0.88rem;
    text-align: center;
    overflow: hidden;
    line-height: 0.88rem;
    position: fixed;

}

.nav_Occ {
    width: 100%;
    height: 0.88rem;
}

#back_nav .back_btn {
    float: left;
    width: 0.2rem;
    height: 0.36rem;
    margin: 0.26rem 0 0 0.28rem;
}

#back_nav .title {
    margin-left: -0.48rem;
    font-size: 0.34rem;
    color: #FFFFFF;;
    letter-spacing: 0.03rem;
}

ul li {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 0.32rem;
    border-bottom: 0.01rem solid #ededed;
}

ul li .left_font {
    float: left;
}

ul li .right_number {
    float: right;
}

ul li .left_font .type {
    font-size: 0.32rem;
}

ul li .left_font .data {
    margin-top: 0.05rem;
    font-size: 0.2rem;
    color: #666;
}

ul li .right_number {
    font-size: 0.45rem;
    font-weight: 900;
}

/*ul .fu .right_number{
	color: #c9000b;
}*/
